<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de registro - J Travel</title>
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/register.css">
</head>
<body>
    <section class="form-register">
        <h4>Formulario de registro</h4>
        <input class="form-box" type="text" name="nombres" id="nombres" placeholder="Ingrese su nombre">
        <input class="form-box" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su apellido">
        <input class="form-box" type="email" name="correo" id="correo" placeholder="Ingrese su correo electrónico">
        <input class="form-box" type="password" name="contraseña" id="contraseña" placeholder="Ingrese contraseña">
        <input class="form-button" type="submit" value="Registrar">
        <a href="login.html">¿Ya tienes una cuenta?</a>
    </section>
    
</body>
</html>